extends layout

block content
  h1= title
  p Query Parameters:
  p Rows: #{query.rows}
  p Columns: #{query.cols}

  -
    let rows = Number(query.rows);
    let cols = Number(query.cols);

  if (!Number.isInteger(rows) || !Number.isInteger(cols)) 
    p The rows and cols must be integers.
  else if (rows < 1 || rows > 10)
    p Rows must be in the range 1 to 10.
  else if (cols < 1 || cols > 10)
    p Columns must be in the range 1 to 10
  else
    table#outer  
      - for (let i = 0; i < rows; i++)  // Loop for rows
        tr#middle  
          - for (let j = 0; j < cols; j++)  // Loop for columns
            - if (i === j)
              td= 1
            - else if (i === j + 1)
              td= 2
            - else if (i === j - 1)
              td= i
            - else
              td= 0
