extends layout
block content
  h1= title
  - let fruitid = toShow._id
  - let name = toShow.name
  - let color = toShow.color
  - let quantity = toShow.quantity
 
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{fruitid}
    
  - let actionid = "/resource/fruits/" + fruitid
  form(id='fruitForm', action= actionid, method="PUT")
    div.form-group
      label.fruitsAttr(for='name') Fruit Name
      input#name(type='text', name='name', value= name )
    div.form-group
      label.fruitsAttr(for='color') Fruit color
      input#color(type='text', name='color', value= color )
    div.form-group
      label.fruitsAttr(for='quantity') Fruit Quantity
      input#quantity(type='number', name='quantity', value= quantity )
    input(type="submit")
    
    script.
      document.forms['fruitForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error )
        });
      });