extends layout

block content
  h1= title
  p Welcome to world of web development! #{title}
  button(type="button", class="btn btn-secondary", onclick="goFaster()") Press Me
  div#faster Increase the speed

  script. 
    var mph = 20;
    var change = 1;

    function goFaster() {
      mph+= change;
      change++;
      document.getElementById("faster").textContent = 'MPH' + mph + ' with change ' + change;
    }
  
  a(href="/fruits") View Fruits
